.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.packages
.pub-cache/
.vscode/
build/
coverage/
android/key.properties
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
*.iml
*.jks
*.keystore
.env
.env.*
!.env.example
supabase/.branches/
supabase/.temp/
